{% extends 'mainapp/base.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
{% endblock %}
{% block js %}
<script type="text/javascript" src="{% static 'js/basket.js' %}"></script>
<script type="text/javascript" src="{% static 'js/jquery-3.6.0.min.js' %}"></script>
{% endblock %}
{% block content %}
{% include 'mainapp/includes/header_of_products.html' %}
<div>
    <h1>Basket</h1>
    {% if basket.all %}
        <div class="basket_list">
            {% include 'basketapp/includes/inc_basket_list.html' %}
        </div>
    <a href="{% url 'orders:create' %}" class="btn btn-primary 
        {% if not user.basket.can_create_order %} 
                disabled
        {% endif %}">
        Create order
    </a>
    {% else %}
        <h4>You don't have anything in your basket. You can add products to it
            <a href="{% url 'products:products' %}">here</a>.</h4>
    {% endif %}
</div>
{% endblock %}