{% extends 'mainapp/base.html' %}
{% load static %}
{% block css %}
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'additional-styles.css' %}">
{% endblock %}
{% block content %}
{% include 'mainapp/includes/header_of_products.html' %}
<h2 class='form-header'>{{ title }}</h2>
{% if not object_list %}
    <h4>
        You don't have any active orders. You can make them 
        <a href="{% url 'basket:basket' %}">here</a>
    </h4>
{% else %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Order number</th>
                <th scope="col">Total cost</th>
                <th scope="col">Total quantity</th>
                <th scope="col">Created at</th>
                <th scope="col">Status</th>
                <th scope="col"></th>
                <th scope="col"></th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for object in object_list %}
            <tr class="{% if not object.is_active %} inactive {% endif %}">
                <td>{{ object }}</td>
                <td>{{ object.get_total_cost }}$</td>
                <td>{{ object.get_total_quantity }}</td>
                <td>{{ object.created_at }}</td>
                <td>{{ object.status }}</td>
                {% if object.can_pay %}
                <td>
                    <a href="{% url 'orders:update' object.pk %}" class="btn btn-info">Edit</a>
                </td>
                <td>
                    <a href="{% url 'orders:pay' object.pk %}" class="btn btn-success">Pay</a>
                </td>
                {% endif %}
                {% if object.can_cancel %}
                <td>
                    <a href="{% url 'orders:cancel' object.pk %}" class="btn btn-danger">Cancel</a>
                </td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
{% endif %}
{% endblock %}
