<ul class="links-menu">
    {% with url_name=request.resolver_match.url_name %}
    {% with category_pk=request.resolver_match.kwargs.pk %}
    <li><a href="{% url 'products:products' %}" 
        class="{% if url_name == 'products' %}active{% endif %}">all</a></li>
    {% for category in categories %}
        <li><a href="{% url 'products:category' category.pk %}" 
            class="{% if category_pk == category.pk %}active{% endif %}">{{ category.name }}</a>
        </li>
    {% endfor %}
    {% endwith %}
    {% endwith %}
</ul>