<!DOCTYPE html>
{% load static %}
<html>
<head>
    <meta charset="utf-8">
    <title>
        {% block title %}
            {{ title|title }}
        {% endblock %}
    </title>
        <link rel="stylesheet" href="{% static 'style.css'%}">
        <link rel="stylesheet" href="{% static 'additional-styles.css'%}">
        <link rel="stylesheet" 
        href="{% static 'fonts/font-awesome/css/font-awesome.css' %}">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
</head>
<body>
    <div class="container">
        <a href="{% url 'index' %}" class="indent-class btn btn-info">
            Home
        </a>
        <div class="login">
            <div class="h2 text-center head">
                {{ title }}
            </div>
            {% block content %}

            {% endblock %}
        </div>
    </div>
</body>
</html>
