{% extends 'mainapp/base.html' %}
{% load static %}
{% block content %}
<div class="hero">
	{% include 'mainapp/includes/menu.html' %}
	<h1>our contacts</h1>
</div>
<div class="location">
	<div class="location-1">
		<i class="fa fa-map-marker fa-5x"></i>
		<h4>Moscow</h4>
		<div class="contacts">
			<h5>Phone</h5>
			<p>+7-888-888-8888</p>
		</div>
		<div class="contacts">
			<h5>Email</h5>
			<p>info@geekshop.ru</p>
		</div>
		<div class="contacts">
			<h5>Address</h5>
			<p>Within the Moscow Ring Road</p>
		</div>
	</div>
	<div class="location-1">
		<i class="fa fa-map-marker fa-5x"></i>
		<h4>Moscow</h4>
		<div class="contacts">
			<h5>Phone</h5>
			<p>+7-888-888-8888</p>
		</div>
		<div class="contacts">
			<h5>Email</h5>
			<p>info@geekshop.ru</p>
		</div>
		<div class="contacts">
			<h5>Address</h5>
			<p>Within the Moscow Ring Road</p>
		</div>
	</div>
	<div class="location-1">
		<i class="fa fa-map-marker fa-5x"></i>
		<h4>Moscow</h4>
		<div class="contacts">
			<h5>Phone</h5>
			<p>+7-888-888-8888</p>
		</div>
		<div class="contacts">
			<h5>Email</h5>
			<p>info@geekshop.ru</p>
		</div>
		<div class="contacts">
			<h5>Address</h5>
			<p>Within the Moscow Ring Road</p>
		</div>
	</div>
</div>
{% endblock %}
		