.inactive {
    color: gray;
    background-color: lightgray;
}

.form-header {
    margin-top: 10px;
}

.delete_page{
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}